/* .dark-theme {
  --nextui-colors-accents1: var(--nextui-colors-gray900);
  --nextui-colors-accents2: var(--nextui-colors-gray800);
  --nextui-colors-accents3: var(--nextui-colors-gray700);
  --nextui-colors-accents4: var(--nextui-colors-gray600);
  --nextui-colors-accents5: var(--nextui-colors-gray500);
  --nextui-colors-accents6: var(--nextui-colors-gray400);
  --nextui-colors-accents7: var(--nextui-colors-gray300);
  --nextui-colors-accents8: var(--nextui-colors-gray200);
  --nextui-colors-accents9: var(--nextui-colors-gray100);
  --nextui-colors-text: var(--nextui-colors-white);
  --nextui-colors-primaryLight: var(--nextui-colors-blue600);
  --nextui-colors-secondaryLight: var(--nextui-colors-purple600);
  --nextui-colors-successLight: var(--nextui-colors-green600);
  --nextui-colors-warningLight: var(--nextui-colors-yellow600);
  --nextui-colors-errorLight: var(--nextui-colors-red600);
  --nextui-colors-background: #6cc0e1
  --nextui-colors-foreground: var(--nextui-colors-white);
  --nextui-colors-codeLight: #16272e;
  --nextui-colors-code: #6cc0e1;
  --nextui-colors-border: var(--nextui-colors-gray700);
  --nextui-colors-selection: var(--nextui-colors-purple700);
  --nextui-colors-headerBackground: rgba(0, 0, 0, 0.5);
  --nextui-colors-headerIconColor: var(--nextui-colors-accents6);
  --nextui-colors-codeBackground: #111111;
  --nextui-colors-codeComment: var(--nextui-colors-accents6);
  --nextui-colors-codeCopyIconColor: var(--nextui-colors-accents5);
  --nextui-colors-cardBackground: var(--nextui-colors-accents1);
  --nextui-colors-backgroundBlur: rgba(255, 255, 255, 0.1);
  --nextui-colors-blockLinkColor: #ffa4e3;
  --nextui-colors-blockLinkBackground: var(--nextui-colors-accents1);
  --nextui-colors-blockLinkHoverBackground: #55057a;
  --nextui-shadows-xs: -4px 0 15px rgb(0 0 0 / 50%);
  --nextui-shadows-sm: 0 5px 20px -5px rgba(20, 20, 20, 0.1);
  --nextui-shadows-md: 0 8px 30px rgba(20, 20, 20, 0.15);
  --nextui-shadows-lg: 0 30px 60px rgba(20, 20, 20, 0.15);
  --nextui-shadows-xl: 0 40px 80px rgba(20, 20, 20, 0.25);
} */
