/* .light-theme {
  --nextui-colors-accents1: var(--nextui-colors-gray100);
  --nextui-colors-accents2: var(--nextui-colors-gray200);
  --nextui-colors-accents3: var(--nextui-colors-gray300);
  --nextui-colors-accents4: var(--nextui-colors-gray400);
  --nextui-colors-accents5: var(--nextui-colors-gray500);
  --nextui-colors-accents6: var(--nextui-colors-gray600);
  --nextui-colors-accents7: var(--nextui-colors-gray700);
  --nextui-colors-accents8: var(--nextui-colors-gray800);
  --nextui-colors-accents9: var(--nextui-colors-gray900);
  --nextui-colors-text: var(--nextui-colors-gray800);
  --nextui-colors-background: var(--nextui-colors-white);
  --nextui-colors-foreground: var(--nextui-colors-black);
  --nextui-colors-codeLight: var(--nextui-colors-pink100);
  --nextui-colors-code: var(--nextui-colors-pink500);
  --nextui-colors-border: var(--nextui-colors-gray200);
  --nextui-colors-selection: var(--nextui-colors-blue200);
  --nextui-colors-headerBackground: hsla(0,0%,100%,0.8);
  --nextui-colors-headerIconColor: var(--nextui-colors-accents4);
  --nextui-colors-codeBackground: #363449;
  --nextui-colors-codeComment: var(--nextui-colors-accents3);
  --nextui-colors-codeCopyIconColor: var(--nextui-colors-accents2);
  --nextui-colors-cardBackground: var(--nextui-colors-background);
  --nextui-colors-backgroundBlur: rgba(255, 255, 255, 0.5);
  --nextui-colors-blockLinkColor: #FF1CF7;
  --nextui-colors-blockLinkBackground: var(--nextui-colors-accents1);
  --nextui-colors-blockLinkHoverBackground: #FFD1ED;
  --nextui-shadows-xs: -4px 0 4px rgb(0 0 0 / 5%);
  --nextui-shadows-sm: 0 5px 20px -5px rgba(0, 0, 0, 0.1);
  --nextui-shadows-md: 0 8px 30px rgba(0, 0, 0, 0.15);
  --nextui-shadows-lg: 0 30px 60px rgba(0, 0, 0, 0.15);
  --nextui-shadows-xl: 0 40px 80px rgba(0, 0, 0, 0.25);
} */
